@model Exten.Models.Data.Forum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForumTopic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForumTopic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForumMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForumMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoryForum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoryForum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
