@model IEnumerable<Exten.Models.Data.Forum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForumTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoryForum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ForumTopic)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ForumMessage)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CategoriesForum.ForumCategoryName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
