@model IEnumerable<Exten.Models.Data.CategoriesForum>

@{
    ViewData["Title"] = "Категории форума";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Категории форума</li>
    </ol>
</nav>
<h2>Категории форума</h2>

<h6>
    <a class="btn text-dark" asp-action="Create">
        <i class="far fa-plus-square"></i>  Добавить категорию форума
    </a>
</h6>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForumCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ForumCategoryName)
            </td>
            <td>
                <a class="btn text-dark" asp-action="Details" asp-route-id="@item.Id" title="Посмотреть подробнее">
                    <i class="far fa-eye"></i>
                </a> |
                <a class="btn text-dark" asp-action="Edit" asp-route-id="@item.Id" title="Редактировать">
                    <i class="fas fa-pencil-alt"></i>
                </a> |
                <a class="btn text-dark" asp-action="Delete" asp-route-id="@item.Id" title="Удалить">
                    <i class="far fa-minus-square"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
